body,
html {
  width: 100%;
  height: 100%;
}

body {
	background-image: url(header.jpg);
	background-size: cover;
	background-position: center;
  	font-family: 'Montserrat', sans-serif;

}

h2
{
	padding: 240px;
	text-align: center;
	color: white;
}

.btn-danger
{
	background-color: orange;
	text-align: center;
	position: absolute;
  	right:45%;
  	top: 65%;
	}
.btn-danger:hover
{
	background-color: yellow;
}
